<div class="container">
  <div class="row" style="margin:30px;">
    <div class="col-md-4 col-xs-1"></div>
    <div class="col-md-4 col-xs-10" style="text-align:center;">
      <a href="/"><img src="/logo.jpg" width="50%"></a>
    </div>
    <div class="col-md-4 col-xs-1"></div>
  </div>
  <div class="row" style="margin-bottom: 30px;">

    <div class="col-md-10" >
      <button class="btn btn-secondary" onclick="location.href='/mypage/1'" style="font-size : 20px;">my</button>
      <button class="btn btn-secondary" onclick="location.href='/page/new/1'" style="font-size : 20px;">최신</button>
      <button class="btn btn-secondary" onclick="location.href='/page/hot/1'" style="font-size : 20px;">인기</button>
      <button class="btn btn-secondary" onclick="location.href='/write'" style="font-size : 20px;">글쓰기</button>
      <button class="btn btn-secondary" onclick="location.href='/survey/user'" style="font-size : 20px;">설문하기</button>
      <button class="btn btn-secondary" onclick="location.href='/survey/admin'" style="font-size : 20px;">설문등록</button></div>

    <div class="col-md-2 col-xs-6" style="padding:10px;">
      <% var a = login;
      if(a==null){}else
      if(a==0){ %>
      <a href="/kakao"><img src="/kakao.png" width="100%"></a>
      <% }else{ %>
      <a href="/logout"><img src="/logout.png" width="100%"></a>
      <% }%>
    </div>
  </div>
</div>
