<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top mb-3">
  <a class="navbar-brand" href="/"><img src="/logo.png" height="30px" class="d-inline-block align-top" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/mypage/view/board/1">my</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          정치토론
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/page/poli/new/1">new</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/page/poli/hot/1">불판</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          일반토론
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/page/norm/new/1">new</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/page/norm/hot/1">인기</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          취미
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/page/it/new/1">IT</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/page/game/new/1">게임</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/page/style/new/1">패션</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/page/travel/new/1">여행</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/page/music/new/1">음악</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/page/movie/new/1">영화</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/page/free/new/1">자유</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/page/ask/new/1">질문</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/write/render">글쓰기</a>
      </li>
    </ul>
    <% const a = login;
    if(!a){}
    if(a==0){ %>
    <a href="/kakao"><img src="/kakao.png" height="35"></a>
    <% }else{ %>
    <a href="/logout"><img src="/logout.png" height="35"></a>
    <% }%>
  </div>
</nav>
