<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top mb-3">
  <a class="navbar-brand" href="/"><img src="/logo.png" height="40" class="d-inline-block align-top" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/mypage/view/board/1">my</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/notice/page/1">공지</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          정치
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/page/poli/new/1">새로운 글</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/page/poli/hot/1">불판</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          사회
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/page/soci/new/1">새로운 글</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/page/soci/hot/1">인기 글</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          자유
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/page/free/new/1">새로운 글</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/page/free/hot/1">인기 글</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/write/render">글쓰기</a>
      </li>
    </ul>
    <% var a = login;
    if(a==null){

    }else if(a==0){ %>
    <a href="/kakao"><img src="/kakao.png" height="50"></a>
    <% }else{ %>
    <a href="/logout"><img src="/logout.png" height="50"></a>
    <% }%>
  </div>
</nav>
