<div class="wrapper">
  <nav id="sidebar">
    <div id="dismiss">
      <i class="fas fa-times"></i>
    </div>

    <div class="sidebar-header">
      <h3><a href="/"><img src="/logo.png" height="40px" /></a></h3>
      <h4 class="text-left"><a href="/"><img src="/logo_min.png" height="50px" /></a></h4>
    </div>

    <ul class="list-unstyled components">
      <li>
        <a href="#menu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-balance-scale"></i>
          정치토론
        </a>
        <ul class="collapse list-unstyled" id="menu1">
          <li>
            <a href="/page/poli/new/1">new</a>
          </li>
          <li>
            <a href="/page/poli/hot/1">불판</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#menu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-users"></i>
          일반토론
        </a>
        <ul class="collapse list-unstyled" id="menu2">
          <li>
            <a href="/page/norm/new/1">new</a>
          </li>
          <li>
            <a href="/page/norm/hot/1">불판</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-star"></i>
          취미
        </a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a href="/page/it/new/1">IT</a>
          </li>
          <li>
            <a href="/page/game/new/1">게임</a>
          </li>
          <li>
            <a href="/page/style/new/1">미용/패션</a>
          </li>
          <li>
            <a href="/page/travel/new/1">여행</a>
          </li>
          <li>
            <a href="/page/music/new/1">음악</a>
          </li>
          <li>
            <a href="/page/movie/new/1">영화</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/page/free/new/1">
          <i class="fas fa-image"></i>
          자유
        </a>
      </li>
      <li>
        <a href="/page/ask/new/1">
          <i class="fas fa-question"></i>
          질문
        </a>
      </li>
      <li>
        <a href="/write/render">
          <i class="fas fa-pencil-alt"></i>
          글쓰기
        </a>
      </li>
      <li>
        <a href="/mypage/view/board/1">
          <i class="fas fa-user-tag"></i>
          my
        </a>
      </li>
      <li>
        <a href="http://www.toronpan.net:3000">
          <i class="fas fa-comments"></i>
          토론챗
        </a>
      </li>
    </ul>

    <div class="sidebar-header">
      <% if(!login){}
    if(login==0){ %>
      <h3><a href="/kakao"><img src="/login.png" height="35px" /></a></h3>
      <h4><a href="/kakao"><img src="/login_min.png" height="60px" /></a></h4>
      <% }else{ %>
      <h3><a href="/logout"><img src="/logout.png" height="35px" /></a></h3>
      <h4><a href="/logout"><img src="/logout_min.png" height="60px" /></a></h4>
      <% }%>
    </div>
  </nav>

  <div id="content">
    <div class="container">
      <!--container-->
      <nav class="navbar sticky-top">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" id="sidebarCollapse" title="메뉴 열기" class="btn">
              <i class="fas fa-align-left"></i>
            </button>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button id="goBack" title="뒤로 가기" class="btn" onclick="goBack()">
              <i class="fas fa-arrow-left"></i>
            </button>
          </div>
        </div>
      </nav>
