<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <% include ./head %>
</head>

<body>
  <% include ./header %>

  <div class="container">
    <% if(message != null){ %>
    <div class="row mt-2 mb-4">
      <div class="col-md-12">
        <span class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>알림</strong>
          <%=message%>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </span>
      </div>
    </div>
    <% } %>
    <% if(survey != null){ %>
    <div class="row">
      <div class="col-md-12">
        <div class="card border-info mb-5" style="max-width: 20rem;">
          <div class="card-header text-center">오늘의 설문</div>
          <div class="card-body text-info">
            <h4 class="card-title">
              <%= survey.q %>
            </h4>
            <form action="/survey/do" method="post">
              <div class="radio">
                <label for="degree_1"><input type="radio" name="degree" value="1" id="degree_1" />못하고있다</label>
                <label for="degree_2"><input type="radio" name="degree" value="2" id="degree_2" />중간은 한다</label>
                <label for="degree_3"><input type="radio" name="degree" value="3" id="degree_3" />잘하고 있다</label>
              </div>
              <input type="hidden" name="firstID" value="<%= survey.id %>" />
              <button type="submit" class="btn btn-danger">오늘 제출완료</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <% }%>
    <div class="row">
      <div class="col-md-12">
        <form class="form-inline my-2 my-lg-0 mr-sm-2" action="/pan/search/1" method="post">
          <select class="form-control" name="where">
            <option value="최신">최신</option>
            <option value="인기">인기</option>
          </select>
          <select class="form-control mr-sm-2" name="how">
            <option value="제목">제목</option>
            <option value="제목">내용</option>
            <option value="제목+내용">제목+내용</option>
          </select>
          <input class="form-control mr-sm-2" name="what" type="text" type="search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <table class="table table-hover table-sm">
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
      </div>
    </div>

  </div>
</body>

</html>
