<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/panStyle.css' />
  <% include ./head %>
</head>

<body>
  <% include ./header %>
  <div class="container">
    <h1>일일단위 설문 주제 선정</h1>
    <div class="row">
      <form action="/survey/new" method="post">
        <label for="firstQ">(관리자용)새로운 설문 주제<input type="text" name="firstQ" id="firstQ" /></label>
        <button type="submit">오늘 등록완료</button>
      </form>
    </div>
    <br>
  </div>
  <div class="container">
    <hr>
    <% include ./footer %><br></div>
</body>

</html>
