<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/panStyle.css' />
  <% include ./head %>
</head>

<body>
  <% include ./header %>
  <div class="container">
    <h1>일일단위 설문 주제 선정</h1>
    <div class="row">
      <form action="/survey/new" method="post">
        <label for="firstQ">(관리자용)새로운 설문 주제<input type="text" name="firstQ" id="firstQ" /></label>
        <button type="submit" >오늘 등록완료</button>
      </form>
    </div>
    <br><br>
    <h1>일일단위 사용자 설문 제출</h1>
    <div class="row">
      <form action="/survey/do" method="post">
        <div class="radio">
          <label for="degree_1"><input type="radio" name="degree_1" value="1" id="degree_1" />못하고있다</label>
          <label for="degree_2"><input type="radio" name="degree_2" value="2" id="degree_2" />중간은 한다</label>
          <label for="degree_3"><input type="radio" name="degree_3" value="f" id="degree_3" />잘하고 있다</label>
        </div>
        <button type="submit">오늘 제출완료</button>
      </form>
    </div>
  </div>
  </div>
  <div class="container">
    <hr>
    <% include ./footer %><br></div>
</body>

</html>
