<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/panWriteStyle.css' />
  <script src="//cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
  <% include ./head %>
  <script>
  </script>
</head>

<body>
  <% include ./header %>
  <div class="container">
    <hr>
    <div class="text-center fontCenter">글쓰기</div>
    <hr>
    <form action="/pan/write" method="post" id="writeForm">
      <div class="uk-margin">
        <input type="text" class="uk-input uk-form-width-large" name="title" placeholder="제목" />
      </div>
      <div uk-form-custom>
        <input type="file">
        <button type="button"></button>
      </div>
      <div class="uk-margin">
        <textarea name="contents" id="contents"></textarea>
      </div>

      <script>
        CKEDITOR.replace( 'contents', {
        filebrowserUploadUrl: '/upload',
      });
      </script>
      <input type="hidden" name="writer" value=<%=sessionUser.nameJ %>><br>
      <input type="submit" class="uk-button uk-button-default" value="글 등록">
    </form>
  </div>
</body>

</html>
