<!DOCTYPE html>
<html lang="ko">

<head>
  <% include ./head %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
</head>

<body>
  <% include ./header %>

    <div class="row">
      <div class="col-12">
        <div class="alert alert-warning text-center" role="alert">
          글쓰기
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <form action="/write/db" method="post" id="writeForm">
          <div class="form-group">
            <select id="field" name="field" class="form-control">
              <option value="0">분야 선택..</option>
              <option value="1">정치 토론</option>
              <option value="2">일반 토론</option>
              <option value="3">취미</option>
              <option value="4">자유</option>
              <option value="5">질문</option>
            </select>
          </div>
          <div class="form-group">
            <select id="fieldText" name="fieldText" class="form-control" style="display:none;">
              <option value="0">취미 자세히..</option>
              <option value="it">IT</option>
              <option value="game">게임</option>
              <option value="style">패션</option>
              <option value="travel">여행</option>
              <option value="music">음악</option>
              <option value="movie">영화</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" class="form-control form-control-lg" name="title" placeholder="제목" maxlength="80" />
            <input id="DC" type="hidden" name="deleteCode" value="" />
          </div>
          <div class="form-group">
            <textarea name="contents" id="summernote"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-success" value="글 등록">
          </div>
        </form>
      </div>
    </div>

  <% include ./footer %>
  <script>
    $(function() {
      var deleteCode = makeDC();
      $("#DC").val(deleteCode); //submit -> deleteMatch저장

      function makeDC() {
        var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
        var string_length = 25;
        var output = '';
        for (var i = 0; i < string_length; i++) {
          var rnum = Math.floor(Math.random() * chars.length);
          output += chars.substring(rnum, rnum + 1);
        }
        return output;
      }

      $('#summernote').summernote({
        height: 400,
        fontNames: ['맑은고딕', 'Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', ],
        fontNamesIgnoreCheck: ['맑은고딕'],
        focus: true,
        callbacks: {
          onImageUpload: function(files, editor, welEditable) {
            for (var i = files.length - 1; i >= 0; i--) {
              sendFile(files[i], this);
            }
          }
        }
      });

      function sendFile(file, el) {
        var form_data = new FormData();
        form_data.append('file', file);
        form_data.append('deleteCode', deleteCode); // -> 이미지 업로드 경로 정보
        $.ajax({
          data: form_data, //client -> server
          dataType: 'json', //server -> client
          type: "POST",
          url: '/write/upload',
          cache: false,
          contentType: false,
          enctype: 'multipart/form-data',
          processData: false,
          success: function(data) {
            if ((data) && (typeof data !== "object"))
              data = $.parseJSON(data);
            if (data.err)
              alert("이미지 전송 오류");
            else if (data.path) {
              $(el).summernote('editor.insertImage', data.path);
            }
          }
        });
      }

      let wf = document.getElementById("writeForm");

      $("#field").change(function(){
        if(this.value==3){
          $("#fieldText").show();
        }
        else {
          $("#fieldText").hide();
        }
      });

      wf.onsubmit = function() {
        const field = document.getElementById("field");
        const fieldText = document.getElementById("fieldText");
        if (field.value == "0") {
          field.focus();
          alert("글의 분야를 선택해주세요");
          return false;
        } else if (field.value == "3") {
          if (fieldText.value == "0") {
            fieldText.focus();
            alert("취미를 선택해주세요");
            return false;
          }else{
            var submitEnd = confirm('글을 마무리 하셨나요? 확인 누르면 제출됩니다.');
            if (submitEnd) {
              return true;
            } else {
              return false;
            }
          }
        } else {
          var submitEnd = confirm('글을 마무리 하셨나요? 확인 누르면 제출됩니다.');
          if (submitEnd) {
            return true;
          } else {
            return false;
          }
        }
      }
    });
  </script>
  
</body>

</html>
